<div class="container mainContainer">
    <h2>Shipping Addresses</h2>
    <div class="panel panel-default kistlarShippingAddress">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-2">Set As Default</div>
                <div class="col-xs-3">Address</div>
                <div class="col-xs-2">Zip</div>
                <div class="col-xs-2">Street</div>
                <div class="col-xs-2">City</div>
                <div class="col-xs-1">&nbsp;</div>
            </div>
        </div>

        <div class="panel-body">
            <div *ngFor="let address of addresses; let i=index">
                <div class="row divierBar" *ngIf="(!address.isEdit)&&(!address.isNew)">
                    <div class="col-xs-2"><input type="radio" [checked]="address.isDefault" (click)="setDefault(address)" name="isDefault"></div>
                    <div class="col-xs-3">{{address.address1}}</div>
                    <div class="col-xs-2">{{address.zip}}</div>
                    <div class="col-xs-2">{{address.street}}</div>
                    <div class="col-xs-2">{{address.city}}</div>
                    <div class="col-sm-1">
                        <button (click)="toggleEdit(address)" class="btn btn-kistler btn-xs"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                    </div>
                </div>
                <div class="row divierBar" *ngIf="(address.isEdit) && (!address.isNew)">
                    <div class="col-xs-2"><input type="radio" [checked]="address.isDefault" (click)="setDefault(address)" name="isDefault"></div>
                    <div class="col-xs-3"><input type="text" [(ngModel)]="address.address1" name="address1"></div>
                    <div class="col-xs-2"><input type="text" [(ngModel)]="address.zip" name="zip"></div> 
                    <div class="col-xs-2"><input type="text" [(ngModel)]="address.street" name="street"></div>
                    <div class="col-xs-2"><input type="text" [(ngModel)]="address.city" name="city"></div>
                    <div class="col-xs-1">
                        <button (click)="toggleEdit(address)" class="btn btn-kistler btn-xs"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                    </div>
                </div>
                <div class="row divierBar" *ngIf="(address.isNew) && (!address.isEdit)">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-3"><input type="text" [(ngModel)]="address.address1" name="newAddress1"></div>
                    <div class="col-xs-2"><input type="text" [(ngModel)]="address.zip" name="newZip"></div>
                    <div class="col-xs-2"><input type="text" [(ngModel)]="address.street" name="newStreet"></div>
                    <div class="col-xs-2"><input type="text" [(ngModel)]="address.city" name="newCity"></div> 
                    <div class="col-xs-1"><button class="btn btn-kistler btn-xs" (click)="removeNew(i)">Remove</button></div>
                </div>
            </div>
            <div class="row panelAddSubmit">
                <div class="pull-left">
                    <button (click)="addAddress()" class="btn btn-md btn-kistler"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Address</button>
                </div>
                <div class="pull-right">
                    <button (click)="submit()" class="btn btn-md btn-kistler"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>