<nav class="navbar navbar-dark navbar-inverse bg-navKistler">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Kistlar</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="viewBox.needHelp"><a routerLink="#">Need Help?</a></li>
            <li *ngIf="viewBox.order"><a routerLink="/order">Order</a></li>
            <li *ngIf="viewBox.myAccount"><a routerLink="/profile">My Account</a></li>
        </ul>
    </div>
</nav>



<div class="container navbar navbar-default" role="navigation" *ngIf="viewBox.menuBar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/profile">Profile</a></li>
            <li class=""><a routerLink="/order/history">Order History</a></li>
            <li class=""><a routerLink="/shipping/address">Shipping Addresses</a></li>
            <li class=""><a routerLink="/payment/method">Payment Methods</a></li>
            <li class=""><a routerLink="/change/password">Change Password</a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>