<div class="form-signin">
	<h2 class="loginTextCenter">Change Password</h2>
	<!--<div class="form-group">
		<label for="InputEmail1">Email address</label>
		<input type="email" class="form-control" id="InputEmail1" placeholder="Email" [(ngModel)]="email">
	</div>-->

	<div class="form-group">
		<label for="OldPassword">Old password</label>
		<input type="password" class="form-control" id="OldPassword" placeholder="Old password" #oldPwd>
	</div>

	<div class="form-group">
		<label for="NewPassword">New password</label>
		<input type="password" class="form-control" id="NewPassword" placeholder="New password" #newPwd1>
	</div>

	<div class="form-group">
		<label for="ConfirmNewPassword">Confirm new password</label>
		<input type="password" class="form-control" id="ConfirmNewPassword" placeholder="Confirm new password" #newPwd2>
	</div>
	<button type="button" class="btn btn-lg btn-kistler btn-block" (click)="changePassword(oldPwd.value,newPwd1.value,newPwd2.value)">Submit</button>
</div>